body {
  background: #1e555c;
  color: white;
  font-size: 30px;
  text-align: center;

}

.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  margin-top: 150px;
  align-items: center;
}

#container {
  display: inline-block;
  margin: 0px 20px;

  justify-content: center;
  align-items: center;
}

.length-control {
  width: 250px;
}

#container:active {
  color: #1e555c;
}

button {
  background: none;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
}

.btn-level,
.length-control {
  display: inline-block;

}

.timer {
  border: 7px solid #13353a;
  margin: 20px auto 50px auto;
  width: 270px;
  padding: 40px 0px;
  height: 50px;
  border-radius: 50px;
  position: relative;

}

.bds {
  margin: 20px auto 10px auto;
  color: #000;
}

.btn-level:nth-child(3) {
  width: 40px;
}

#time-left {
  font-family: digital;
  font-size: 80px;
}

.timer-control button:active {
  color: #13353a;
}

.timer-wrapper {
  position: absolute;
  width: 190px;
  height: 110px;
  left: 50%;
  top: 50%;
  margin-left: -95px;
  margin-top: -57px;
}

.author {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 150px;

}


.director {
  animation:director 5s infinite ease-in-out;
  align-items: center;
  font-size:smaller;
 color: black;
}

@keyframes director {

  25% {
  color: #071307;

  }

  50% {
  color:rgb(255, 251, 0);
  }

  75% {
    color: rgb(255, 255, 255);
  }

  100% {
    color: rgb(235, 67, 11);
  }

}