:root {
  --main-font: “Roboto”, sans-serif;
}

body, div, p {
  margin: 0;
  padding: 0;
}

:root {
--button-border: 3px solid #000000;
  --button-text-size: 2em;
}

@media screen and (max-width: 1024px) {
  :root {
     --button-text-size: 4em;
  }
}